
  .user-list {
    list-style: none;
    position: absolute;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    border-top: 1.5px solid rgba(2, 9, 16, 0.13);
    border-bottom: 1.5px solid rgba(2, 9, 16, 0.13);
    height: 84.125vh;
    width: 88vw;
    overflow-y: auto;
  }
  
  .user-item {
    display: flex;
    margin-left: -40px;
    align-items: center;
    width: 88vw;
    height: 15vh;
    box-sizing: border-box;
    border: 1.5px solid rgba(2, 9, 16, 0.13);
    border-radius: 2px;
  }
  
  .avatar_users {
    margin-left: 40px;
    width: 80px;
    height: 80px;
    background-color: #ccc;
    background-size: cover;
    border-radius: 50%; /* 将头像设置为圆形 */
    margin-right: 10px;
  }
  
  .user-content {
    flex: 1;
  }
  
  .username_Users {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0px;
  }
  
  /* .footer {
    position:absolute;
    margin-top:auto;
    padding: 5px;
    color: #808080;
    text-align: center;
  } */