.zgw_my{
    display: flex;
    position: relative;
    width: 1129px;
    height: 800px;
    background: rgb(246, 246, 246);
}
.avatarInfo {
    margin-left: 40px;
    margin-top: 40px;
    width: 120px;
    height: 120px;
    background-size: cover;
    border-radius: 50%; /* 将头像设置为圆形 */
    margin-right: 20px;
}
.usernameStyle{
    color: rgb(0, 0, 0);
    margin-top: 30px;
    margin-left: 60px;
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
}
.midButtonStyle{
    position: absolute;
    width: 55px;
    top: 270px;
    color: rgb(94, 94, 94);
    background-color: rgb(246, 246, 246);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    border: None;
    cursor: pointer;
}
.midButtonStyle.active{
    color: rgb(0, 88, 255);
}