.fny_ok_button {
	position:relative;
	background-color: #4ff686;
	height: 30px;
	width: 100px;
	border-radius: 15px;
	border-width: 8px;
	border-color: #bdbdbc;
	text-align: center;
	font-size: 16px;
	border: hidden;
}

.fny_ok_button:hover {
	background-color: rgb(0, 159, 0);
	color:black;
	transition: background-color 1.0s ease;
}

.fny_ok_button:active {
	border: solid;
}