.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px; /* 调整宽度根据需要 */
    border: 1px solid #ccc;
    padding: 5px;
  }
  
.search-input {
    flex: 1;
    font-size: 18px;
    border: none;
    outline: none;
}

.icon-search {
	width: 24px; /* 根据需要调整图标的宽度 */
	height: 24px; /* 根据需要调整图标的高度 */
    margin-top: 3px;
  }

.search-button{
    background: none;
    border: none;
    cursor: pointer;
}
