.fny_input_label{
    position: relative;
    width: 100px;
    height: 20px;
    border-radius: 3px;
    border-width: 1px;
    border-color: gray;
}

.fny_input_label:focus{
    outline: none;
    box-shadow: 0px 0px 10px rgb(9, 118, 137);
}
