.zgw_register {
    background-color:#355d98;
    position: relative;
    width: 300px;
    height: 330px;
}

.zgw_register_input_label{
    position: relative;
    width: 100px;
    height: 20px;
    border-radius: 3px;
    border-width: 1px;
    border-color: gray;
}

.zgw_register.loading {
    pointer-events: none;
}

.zgw_register_input_label:focus{
    outline: none;
    box-shadow: 0px 0px 10px rgb(9, 118, 137);
}