.zgw_Message_List{
  display: flex;
  position: relative;
  width: 88vw;
  height: 100vh;
  background: white;
  box-sizing: border-box;
  border: 1.5px solid rgba(2, 9, 16, 0.13);
  border-radius: 2px;
}
.chat_box {
  margin-top: 14.7px;
  margin-left: -1.5px;
  list-style: none;
  position: relative;
  flex-direction: column;
  display: flex;
  box-sizing: border-box;
  border: none;
  border-top: 1.5px solid rgba(2, 9, 16, 0.13);
  background-color: rgb(228, 228, 228);
  height: 72.35%;
  width: 88vw;
  overflow-y: auto;
}
.own-message {
  margin-top: 20px;
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
}

.other-message {
  margin-top: 20px;
  margin-left: -40px;
  display: flex;
}

.message1 {
  max-width: 450px; /* 设置最大宽度 */
  word-wrap: break-word; /* 文本超过最大宽度时自动换行 */
  padding: 10px; /* 可以根据需要添加内边距 */
  box-sizing: border-box;
  border: 1.5px solid rgba(2, 9, 16, 0.13);
  border-radius: 0px 20px 20px 20px;
  margin-bottom: 40px;
  left: 140px;
  background: rgb(255, 255, 255);
}

.avatar1 {
  margin-left: 40px;
  width: 80px;
  height: 80px;
  background-color: #ccc;
  border-radius: 50%; /* 将头像设置为圆形 */
  margin-right: 20px;
  margin-bottom: 20px;
  pointer: cursor
}

.message2 {
  max-width: 450px; /* 设置最大宽度 */
  word-wrap: break-word; /* 文本超过最大宽度时自动换行 */
  padding: 10px; /* 可以根据需要添加内边距 */
  box-sizing: border-box;
  border: 1.5px solid rgba(2, 9, 16, 0.13);
  border-radius: 20px 0px 20px 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  right: 120px;
  background: rgb(255, 255, 255);
}

.avatar2 {
  width: 80px;
  height: 80px;
  background-color: #ccc;
  border-radius: 50%; /* 将头像设置为圆形 */
  margin-right: 10px;
  margin-bottom: 20px;
}

.zgw_Username{
  left: 6.6%;
  top: 5%;
  position: absolute;
  width: 50px; /* 根据需要设置 label 的宽度 */
  height: 37px; /* 根据需要设置 label 的高度 */
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
}
