.zgw_materials{
    display: flex;
    position: relative;
    width: 88vw;
    height: 100vh;
    background: white;
}
.MaterialsButtonStyle{
    position: absolute;
    width: 55px;
    top: 15%;
    color: rgb(94, 94, 94);
    background-color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    border: None;
    cursor: pointer;
}
.MaterialsButtonStyle.active{
    color: rgb(0, 88, 255);
}